@import url('https://fonts.googleapis.com/css2?family=Actor&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
   background-color: #0B3D91;
   font-family: "Karla", sans-serif;
   color: white;
   width: 100%;
   margin: 0;
   padding: 0;
}

.page-header {
   font-size: 60px;
   padding-left: 50px;
}

.all-projects {
   width: 95%;
   display: flex;
   margin: auto;
   flex-direction: row;
}

.project {
   padding: 10px;
}

.card-header {
   font-style: bold;
   text-decoration: underline;
   margin: 0;
}

.card-info {
   font-size: 18px;
   margin: 0;
   padding-top: 5px;
   width: 450px;
}

.karla {
   font-family: "Karla", sans-serif;
   font-optical-sizing: auto;
   font-weight: 650;
   font-style: normal;
}

.kantumruy-pro {
   font-family: "Kantumruy Pro", sans-serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
}

.body-settings {
   overflow-y: scroll;
   padding: 0%;
   margin: 0%;
}

.top-menu {
   position: relative;
   top: 0px;
   bottom: 100px;
   right: 100%;
   left: 0;
   float: left;
   width: 100%;
   height: 100px;
   margin-top: 0;
   background-color: white;
   z-index: 10;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.center-menutext-right {
   position: relative;
   float: right;
   padding: 0%;
   margin: 0px;
   margin-top: 40px;
   color: black;
   height: 80%;
   margin-right: 6%;
   z-index: 11;
}

.unformatted-link {
   all: unset;
   margin-left: 20px;
   float: left;
   position: relative;
   cursor: pointer;
   color: black;
}

#menu-title {
   position: relative;
   float: left;
   padding: 0%;
   margin: 0px;
   margin-left: 30px;
   margin-top: 1%;
   color: black;
   height: 80%;
   z-index: 11;

}

.side-heading {
   text-align: center;
   position: relative;
   float: left;
   width: 180px;
   margin: 10px;
}

.message {
   position: relative;
   float: left;
   margin-left: 10%;
   margin-top: 50px;
   width: 80%;
   aspect-ratio: 1/0.5;
   padding: 0%;
}

.logo-image {
   position: relative;
   height: 80%;
   aspect-ratio: 1/1;
   margin-left: 5%;
}

#motto {
   color: white;
   font-size: 5vw;
}

.motto {
   all: unset;
   margin: none;
   position: relative;
   float: right;
   height: 80%;
   aspect-ratio: 1/1;
   margin-right: 5%;
}

.bg {
   float: left;
   position: fixed;
   background-color: 0B3D91;
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-size: 100% auto;
   padding: 0%;
   z-index: 0;
}

.team-section {
   padding-left: 30px;
   padding-top: 30px;
}

.member {
   display: flex;
   flex-direction: row;
}

.member-info {
   list-style: none;
   font-family: "Karla", sans-serif;
   font-weight: 600;
   color: white;
   font-size: 25px
}

h1 {
   font-family: "Karla", sans-serif;
   font-optical-sizing: auto;
   font-weight: 650;
   font-style: normal;
   color: white;
   font-size: 60px;
   margin: 0;
}

.page {
   height: 1400px;
   width: auto;
   background-color: #0B3D91;
}

.headshot {
   width: 250;
   height: 250;
   padding-left: 30;
   margin: 20px
}

* {
   font-family: "Kantumruy Pro", sans-serif;
   font-weight: 400;
}

html {
   width: 100%;
   overflow-y: scroll;
}

.container {
   flex-direction: column;
   color: white;
}

#square-img {
   flex: 0 0 30%;
   max-width: 200px;
   height: auto;
   object-fit: cover;
}

.header {
   font-size: 25px;
   width: 100%;
   margin-bottom: 18px;
   font-weight: bold;
}

.subtext {
   margin-top: 4px;
   margin-bottom: 2px;
   list-style-type: none;
}

.vcard {
   flex: 1;
   padding: 1rem;
   background: white;
   color: #000;
}

.vcard .fn {
   font-size: 1.2rem;
   font-weight: bold;
   color: #333;
}

.vcard .adr {
   margin-top: 0.5rem;
}

.vcard .tel,
.vcard .email {
   display: block;
   margin-top: 0.5rem;
}

.contact {
   display: flex;
   align-items: center;
   gap: 50px;
   max-width: 1100px;
   margin: 0 auto;
   padding: 10px;
}

.intro,
.education,
.experience,
.skills {
   max-width: 1100px;
   margin: 0 auto;
   padding: 10px;
}

.school {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;
   font-weight: bold;
}

.school .url {
   color: white;
   font-weight: bold;
}

.school .location {
   font-weight: bold;
   font-style: italic;
}

.school .date {
   font-weight: bold;
   font-style: italic;
}

.job-container {
   position: relative;
   padding-left: 18px;
}

.job-container::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   width: 1px;
   background-color: white;
}

.company {
   margin-top: 20px;
   font-weight: bold;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.company .url {
   color: white;
   font-weight: bold;
}

.company span,
.company i {
   font-weight: inherit;
}

.job-title {
   font-style: italic;
}

.description {
   margin-top: 7px;
}

.location {
   font-weight: normal;
}

.skills .subtext {
   list-style-type: disc;
}